{% extends "score_board/base.html" %}

{% block title %}Edit {{team.team_name}}{% endblock %}

{% block content %}
<form method="POST" action="{% url 'edit' team_id=team.id %}">
    {% csrf_token %}
    <div class="form-group" style="margin-bottom: 20px;">
        <h3>Team Name</h3>
        <input value="{{team.team_name}}" type="text" class="form-control" placeholder="Enter name" name="name"
            required />
    </div>
    <div class="form-group">
        <h3>Team Points</h3>
        <input value="{{team.team_points}}" type="number" class="form-control" placeholder="Input Points" name="points"
            required />
    </div>
    <button style="margin: 20px;" class="btn btn-success" type="submit">Edit</button>
</form>
{% endblock %}